<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Integrante</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

form {
    width: 80%;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

#error-message {
    color: red;
    margin-bottom: 10px;
}

    </style>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Crear</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/integrantes/create" method="post">
            <fieldset>
                <legend>Integrante</legend>
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text"value="{{integrante.matricula}}">

                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" value="{{integrante.nombre}}">

                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text" value="{{integrante.apellido}}">

                <label for="borralog">Estado</label>
                <select id="borralog" name="borralog">
                <option value="0">Activo</option>
                <option value="1">Inactivo</option> 


            </fieldset>
            <input type="submit" value="Crear">
    
        </form>
    </section>
    <a href="/admin/integrantes/listar">Volver al Listado</a>
</body>
</html>