<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Editar Integrante</title>
    <style>
section {
    margin: 20px;
}

 h1 {
        text-align: center;
        margin-top: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

    </style>
</head>
<body>
    <h1>Editar integrante - {{integrante.matricula}}</h1>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/integrantes/update/{{idIntegrante}}" method="post">
            <fieldset>
                <legend>Integrante</legend>
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" value="{{integrante.matricula}}" disabled>

                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" value="{{integrante.nombre}}">

                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text" value="{{integrante.apellido}}">

                <label for="borralog">Estado</label>
                <select id="borralog" name="borralog">
                <option value="0">Activo</option>
                <option value="1">Inactivo</option> 


            </fieldset>
            <input type="submit" value="Editar">
    
        </form>
    </section>
    <a href="/admin/integrantes/listar">Volver al Listado</a>
</body>
</html>