
  <footer>
        <h2>{{MATERIA}}</h2>
        <p>{{NOMBRE}} {{APELLIDO}} - Desarrollador del proyecto </p> 
        <a href="{{ENLACE}}">Repositorio de gitlab</a>
        <p>Grupo FSOCIETY - Todos los derechos reservados &copy; 2024</p>
  </footer>   
