
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos al Grupo XYZ</title>
    <link rel="stylesheet" href="assets/css/index_inicio.css">
</head>
<body>
     {{> nav}}
    {{#each inicio}}
       
        <header>
            <h1>{{titulo}} {{nombre}} </h1>
             
        </header>
        
       
        <div>
            <img src="{{src}}" alt="{{alt}}" class="logo">
        </div>
    {{/each}}
    <footer>
        
        {{> footer}}
    </footer>
</body>
</html>